.jobss{
    width:100%;
    height:100%;
    display:flex;
    background-color:rgb(233, 243, 243);
}
.sidebar{
   
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:2rem;
    background:rgb(173, 219, 232);
    color:white;
    position:fixed; 
    width:17%;
    height:100%;
    padding:2rem;
    position:absolute;
    top:180px;
    left: 1%;
    right:10px;
    box-shadow:rgba(100,100,111,0.2) 0px 7px 29px 0px;
    overflow-y:scroll;
    border-radius:20px;
    margin-top: -3.5%;
}
.logo{
    font-size: 37px;
}
.res{
    color: rgb(27, 27, 119);
}
.res-btn
 {
  height: 60px;
  border-radius: 50px;
  justify-content: center;
  color: #784242;
  font-weight: 500;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border: none;
}
.res-btn {
    background-color:rgba(0, 10, 143, 0.634);
  }
.menus{
    display:flex;
    flex-direction:column;
    gap:2rem;

}
.menus a{
    display:flex;
    align-items:center;
    color:white;
    text-decoration:none;

}

.main{
    width:58%;
    max-height:100vh;
    min-width:300px;
    height:max-content;
    display:flex;
    flex-direction:column;
    padding:2rem 2%;
    margin-left:18%;
    margin-right: 10%;
    margin-top:0.5%;
    background-color:rgb(206, 225, 226);
    overflow-y:scroll;
    border-radius:20px;

}
.main-header{
    display:flex;
    align-items:center;
    gap:1rem;

}
.search{
    width:100%;
    display:flex;
    justify-content:space-between;
    border:none;
    background-color:none;
    border-radius:20px;
    padding:0.5rem 1rem;
    position:relative;
    background-color:white;

}
.search input{
    width:90%;
    border:none;
}
.btn-search{
    position:absolute;
    right:0;
    top:0;
    height:100%;
    padding:0 5%;
    border:none;
    background-color:aliceblue;
    color:blackA;
    font-size:18px;
    border-radius:20px;
    box-shadow:rgba(0,0,0,0.16) 0px 1px 4px;
    cursor:pointer;
}
.btn-search:hover{
   background-color:rgb(185, 217, 223);
}
.sort{
    display:flex;
    justify-content:flex-end;align-items:center;
    margin-top:15px;
}
.sort p{
    font-size:14px;

}
.sort-list select{
    height:1.5rem;
    border-radius:20px;
    border:none;
    margin-top:2px;
    margin-left:20px;

}

.wrapper{
    width:100%;
    display:flex;
    flex-direction:column;
    padding:1rem 0;
    gap:1rem;
    overflow-y:auto;

}
.card{
    height:100%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:flex-start;
    padding:3%;
    margin:0 1%;
    background:white;
    
    top: 180px;
    line-height:1.5;
    gap:1.5rem;
    box-shadow:rgba(0,0,0,0.16) 0px 1px 4px;
    border-radius:10px;  
}
.card:hover{
    box-shadow:rgba(0,0,0,0.24) 0px 3px 8px;
}
.card-left{
    width:15%;
    min-width:50px;
    display:flex;
    justify-content:center;
    border:20%;

}
.card-left img{
    width:100%;
    height:auto;
    min-height:60px;
    padding:1rem;
}
.card-center{
    width:50%;


}
.card-loc,.card-sub{
    font-size:15px;
    color:rgb(64, 63, 63);

}
.card-sub{
    display:flex;
    flex-wrap:wrap;

}
.card-sub p{
    display:flex;
    padding:0 0.5rem;
    align-items:center;
    
}
.card-right{
    width:15%;

}
.card-tag a{
    color:black;
    font-size:13px;

}
.card-salary{
    padding:0.5rem 0;
    color:purple;

}
.blue-bg{
    background:rgb(221, 244, 249);;
    border-radius:30%;

}
.iconss{
    padding:0 10px;

}
.details1{
    width:30%;
    max-width:380px;
    height:100%;
    padding:2rem;
    position:absolute;
    top:180px;
    right:10px;
    background-color:white;
    box-shadow:rgba(100,100,111,0.2) 0px 7px 29px 0px;
    overflow-y:scroll;
    border-radius:20px;
    margin-top: -3.5%;
}
.details1-header{
    display:flex;
    flex-direction:column;
    align-items:center;

}
.details1-header img{
    width:50px;
    height:50px;
}
.dividers{
    width: 100%;
    height:1px;
    background-color:gray;
    border:none;
    margin:1rem 0;
    font-size: small;

}
.details1-desc{
    line-height:1.5;
}

.abouts a{
    margin:0.5rem 0 0 0;
    color:white;
    font-size:14px;
    text-decoration:none;
    font-weight:600;
    cursor:pointer;

}
.details1-btn
{
    display:flex;
    gap:1rem;
    margin:1rem 0;

}
.btns-apply{
    background-color:blue;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:20px;
    cursor:pointer;

}
.btns-save{
    background-color:rgb(159, 159, 227);
    border:none;
    padding:10px 20px;
    border-radius:20px;
    cursor:pointer;

}
.btns-apply:hover{
    border:1px solid blue;
    background:transparent;
    color:blue;
}
.btns-save:hover{
    border:1px solid rgb(159, 159, 227);
    background-color:transparent;
    
}
@media screen and (max-width:880px) {
    .menu-bar{
        display:block;

    }
    .sidebar{
        display:none;
    }
    .main{
        width:calc(100% - 40%);
        margin-left:0;
    }
    .details1{
        width:35%;
    }
}
@media screen and (max-width:700px) {
    
    .main{
        width:100%;
    }
    .details1{
        display:none;
    }
    .details1.active{
        display:block;
        width:100%;
        z-index:100;
    }
}